<h1> Operating system Experiments </h1>
<h4><a href="static/os/index.html"> How experiments are organised?</a></h4>
<h4><a href="static/os/README.txt">Read Me</a></h4>
<h3> Bankers Algorithm</h3>
<ul>
	<li> <a href="static/os/experiments/bankers_algorithm/canvasandscript.html"> Canvas and Script</a> </li>
	<li> <a href="static/os/experiments/bankers_algorithm/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/bankers_algorithm/theory.html"> Theory.html</a> </li>
</ul>
<h3> Deadlock</h3>
<ul>
	<li> <a href="static/os/experiments/deadlock/canvasandscript.html"> Canvas and Script</a> </li>
	<li> <a href="static/os/experiments/deadlock/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/deadlock/theory.html"> Theory.html</a> </li>
</ul>
<h3> Forking</h3>
<ul>
	<li> <a href="static/os/experiments/forking/canvasandscript.html"> Canvas and Script</a> </li>
	<li> <a href="static/os/experiments/forking/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/forking/theory.html"> Theory.html</a> </li>
</ul>
<h3> Interrupt</h3>
<ul>
	<li> <a href="static/os/experiments/interrupt/canvasandscript.html"> Canvas and Script</a> </li>
	
	<li> <a href="static/os/experiments/interrupt/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/interrupt/theory.html"> Theory.html</a> </li>
</ul>
<h3> Page Replacement Algo</h3>
<ul>
	<li> <a href="static/os/experiments/pagereplacement/canvasandscript.html"> Canvas and Script</a> </li>
	<li> <a href="static/os/experiments/pagereplacement/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/pagereplacement/theory.html"> Theory.html</a> </li>
</ul>
<h3> Producer Consumer Problem</h3>
<ul>
	<li> <a href="static/os/experiments/producer_consumer/canvasandscript.html"> Canvas and Script</a> </li>
	<li> <a href="static/os/experiments/producer_consumer/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/producer_consumer/theory.html"> Theory.html</a> </li>
</ul>
<h3> Scheduling Algorithms</h3>
<ul>
	<li> <a href="static/os/experiments/scheduling_algoritm/canvasandscript.html"> Canvas and Script</a> </li>
	<li> <a href="static/os/experiments/scheduling_algoritm/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/scheduling_algoritm	/theory.html"> Theory.html</a> </li>
</ul>
<h3> System Calls</h3>
<ul>
	<li> <a href="static/os/experiments/systemcall/canvasandscript.html"> Canvas and Script</a> </li>
	<li> <a href="static/os/experiments/systemcall/procedure.html"> Procedure.html</a> </li>
	<li> <a href="static/os/experiments/systemcall/theory.html"> Theory.html</a> </li>
</ul>